In [1]:
import pandas as pd
import numpy as np

In [84]:
df=pd.read_excel('Completed Items Combined.xlsx')
df.sample(6)

,Core Ingredient Type,Sub-Type,Ingredient,Lacto-vegetarian,Vegetarian,Dairy Free,Pescatarian,Ketogenic,Low Carb,Halal,...,Nut Free-,Kosher,Shell Fish,Egg Free,AIP,Nightshades,Tree Nut Allergy,High Blood pressure,Diebeties,High colestrol
454,Fruit,Fruit,acai berries,Yes,Yes,yes,Yes,yes,Yes,Yes,...,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733,Herbs Spices Flavorings,Herbs,yellow whole mustard seed,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,Vegetables,Vegetables,spinach,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Herbs Spices Flavorings,Essential Oils,cassia cinnamon,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,Sweetners,Sugar Substitutes,stevia rebaudiana,Yes,Yes,Yes,Yes,No,No,Yes,...,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,Fish Seafood,Fish and Seafood,croaker,No,No,Yes,Yes,Yes,Yes,Yes,...,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df=df.set_index(['Core Ingredient Type','Sub-Type','Ingredient']).stack()

In [86]:
df=df.to_frame()

In [87]:
df=df.rename_axis(index=['Core Ingredient Type','Sub-Type','Ingredient','type'])
df=df.rename(columns={0:'Bool'})
df

                                                                    Bool
Core Ingredient Type Sub-Type          Ingredient  type
Nuts Seeds Legumes   Beans and Legumes aduki beans Lacto-vegetarian  Yes
                                                   Vegetarian        Yes
                                                   Dairy Free        Yes
                                                   Pescatarian       Yes
                                                   Ketogenic          No
...                                                                  ...
Fruit                Melon             water melon Vegan             Yes
                                                   Paleo             Yes
                                                   Raw               Yes
                                                   Nut Free-          No
                                                   Kosher            Yes

[16793 rows x 1 columns]

In [88]:
df=df.reset_index(level=[0,1,2,3])

In [89]:
df.head()

  Core Ingredient Type           Sub-Type   Ingredient              type Bool
0   Nuts Seeds Legumes  Beans and Legumes  aduki beans  Lacto-vegetarian  Yes
1   Nuts Seeds Legumes  Beans and Legumes  aduki beans        Vegetarian  Yes
2   Nuts Seeds Legumes  Beans and Legumes  aduki beans        Dairy Free  Yes
3   Nuts Seeds Legumes  Beans and Legumes  aduki beans       Pescatarian  Yes
4   Nuts Seeds Legumes  Beans and Legumes  aduki beans         Ketogenic   No

In [90]:
def isinlist2(y):
    return df[df['Ingredient']==y].type

In [91]:
userask=df.Ingredient.to_list()

In [110]:
var1=[]
ml=[]

x=input('Enter Ingredient: ')
print('')

liy=df[(df['Bool']=='Yes') & (df['Ingredient']==x)].type.values.tolist()
lin=df[(df['Bool']=='No') & (df['Ingredient']==x)].type.values.tolist()

if x in userask:
    var1.append(isinlist2(x).values)
    for i in var1:
        for j in i:
            ml.append(j)
else:
    print('Try again')
y=[]
n=[]
for i in ml:
    if i in liy:
        y.append(i)
for i in ml:
    if i in lin:
        n.append(i)
    
print('YES:',list(set(y)))
print('\n')
print('NO:',list(set(n)))

Enter Ingredient: water melon

YES: ['Low Carb', 'Vegetarian', 'Pescatarian', 'Gluten Free', 'Lacto-vegetarian', 'Kosher', 'Halal', 'Paleo', 'Raw', 'Dairy Free', 'Vegan', 'Ketogenic']


NO: ['Nut Free-', 'Ketogenic']